.lp-results {
	width: 75%;
}

.list-deal-wrapper,
.product-detail-wapper {
	--itemImage: 180px;
}

.lp-breadcrumb {
	width: 100%;
}
.deal-item-wrapper {
	display: flex;
	justify-content: flex-start;
	align-items: stretch;
	min-height: 1px;
    position: relative;
    width: 100%;

    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 2px 4px -2px rgb(0 0 0 / 15%);
    -webkit-box-shadow: 0 2px 4px -2px rgb(0 0 0 / 15%);
    border: 1px solid rgba(0,0,0,.15);
    flex-wrap: wrap;
    margin-bottom: 15px;
    position: relative;
}

.deal-item-wrapper:hover {
    box-shadow: none;
    -webkit-box-shadow: none;
    border-color: #88b9d6;
}

.deal-item-image {
	width: var(--itemImage);
	position: relative;
	display: flex;
	justify-content: center;
	padding: 10px;
	overflow: hidden;
}

.deal-item-image:before {
	content: "";
	padding-bottom: 50%;
	display: block;
}

.deal-item-image img {
	width: 50%;
	height: 50%;
	object-fit: contain;
	object-position: center;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	color: #888;
	font-size: 12px;
}

.deal-tag {
	width: 60px;
	height: 55px;
	display: flex;
	justify-content: flex-start;
	align-items: flex-start;
	flex-direction: column;
	font-size: 13px;
	padding: 3px 6px;
	color: #fff;
	position: absolute;
	top: -1px;
	left: -1px;
	z-index: 2;
	background-color: transparent;
	background-image: url(/images/dealtag-2x.png);
	background-size: cover;
	background-repeat: no-repeat;
	pointer-events: none;
}

.deal-tag * {
	display: block;
	text-align: center;
}

.deal-item-info {
	width: calc(100% - var(--itemImage));
	padding: 16px 0 16px 12px;
}

.deal-item-header {
    color: #337ab7;
    display: block;
    font-size: 23px;
    line-height: 26px;
    font-weight: 600;
    margin: 5px 0 10px;
    overflow-wrap: break-word;
    text-transform: capitalize;
    padding-right: 15px;
    cursor: pointer;
	padding-right: 16px;
}

.deal-item-description {
    padding-right: 16px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}

.deal-item-footer {
	display: grid;
	grid-template-columns: 4fr 1fr;
	grid-template-areas: "Price Button" "Store Button";
	margin: 10px 0;
}

.deal-item-price-box {
	grid-area: Price;
}
.deal-item-action {
	grid-area: Button;
	display: flex;
	justify-content: flex-end;
	align-items: center;
}
.deal-item-footer-box {
	grid-area: Store;
	display: flex;
	justify-content: flex-start;
	align-items: center;
}

.deal-item-footer-box > * {
	margin-right: 10px;
	color: #111;
}

.deal-item-footer-box span {
	color: #337ab7;
}

.deal-item-button {
	display: flex;
	justify-content: center;
	align-items: center;
	color: #fff;
    background-color: #337ab7;
    font-size: 14px;
    font-weight: 400;
    line-height: 40px;
    min-width: 160px;
    letter-spacing: 1px;
    border-radius: 3px 0 0 3px;
}

.deal-item-button:hover {
	color: #fff;
}

.sale-price {
	font-size: 23px;
	font-weight: bold;
	color: #ff7e00;
}

.hight-price {
	font-size: 17px;
	color: #999;
	text-decoration: line-through;
	margin-left: 4px;
}

@media (max-width: 990px) {
	.container {
		width: 92%;
		margin: 0 auto;
		padding: 0;
	}

	.list-deal-wrapper {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		grid-gap: 12px;
	}

	.deal-item-wrapper {
		margin: 0;
		width: 100%;
	}


	.deal-item-header,
	.deal-item-description {
		padding-right: 0;
	}
	.lp-results {
		width: 100%;
		padding-right: 0;
	}

	.deal-item-image,
	.deal-item-info {
		width: 100%;
		padding: 0;
		position: relative;
	}

	.deal-item-info {
		padding: 0 12px;
	}

	.deal-item-description {
		overflow: hidden;
		text-overflow: ellipsis;
		display: -webkit-box;
		-webkit-line-clamp: 2;
		-webkit-box-orient: vertical;
	}

	.deal-item-footer {
		display: flex;
		flex-direction: column;
	}

	.deal-item-footer-box {
		order: 4;
	}

	.deal-item-button {
		width: 100%;
		border-radius: 5px;
		min-width: 1px;
		margin: 10px 0;
	}

	.deal-item-action {
		justify-content: center;
	}

	.deal-item-footer-box {
		display: block;
	}
	.deal-item-footer-box > * {
		display: block;
	}

	.deal-item-header {
		font-size: 19px;
		line-height: 1.1;
		overflow: hidden;
		text-overflow: ellipsis;
		display: -webkit-box;
		-webkit-line-clamp: 3;
		-webkit-box-orient: vertical;
		margin-bottom: 6px;
	}
}
.item-box {
	margin-bottom: 25px;
}
@media (max-width: 760px) {
	.list-deal-wrapper {
		display: grid;
		grid-template-columns: repeat(1, 1fr);
	}

	.deal-item-header {
		font-size: 17px;
	}
	.lp-footer-title {
		font-size: 19px;
	}
}

/** DEAL FILTER BUTTON */

.deal-button-filter-wrapper {
	display: flex;
	justify-content: flex-start;
	align-items: stretch;
	margin-bottom: 20px;
	border-bottom: 2px solid #e1e1e1;
}

.deal-filter-label {
	position: relative;
	margin: 0;
}

.deal-filter-item {
	border: none;
	color: #69b820;
	background-color: transparent;
	padding: 10px calc(6px + (32 - 6) * ((100vw - 300px) / (1920 - 300)));
	text-align: center;
	display: block;
	cursor: pointer;
	user-select: none;
	outline: none;
	position: relative;
	font-size: 16px;
	font-weight: bold;
}

.deal-filter-item::before {
	content: "";
	height: 100%;
	width: 1px;
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	background-color: #fff;
}

.deal-filter-item:hover {
	color: #4f9310;
}

.deal-filter-item::after {
	content: "";
	width: 100%;
	height: 3px;
	display: block;
	background-color: #ff7e00;
	position: absolute;
	bottom: -2px;
	border-radius: 3px;
	left: 50%;
	transform: translateX(-50%);
	opacity: 0;
	transition: opacity 250ms ease-in-out;
}

.deal-input:checked ~ .deal-filter-item {
	color: #ff7e00;
	cursor: default;
}

.deal-input {
	position: absolute;
	opacity: 0;
}

.deal-input:checked ~ .deal-filter-item:after {
	opacity: 1;
}

.round-box {
	width: 70%;
	margin: 10px auto;
	display: block;
	position: relative;
}

.round-box img {
	width: 100%;
	height: 100%;
	border-radius: 50%;
	overflow: hidden;
	position: absolute;
	top: 0;
	left: 0;
	object-fit: cover;
	object-position: center;
}

.round-box::after {
	content: "";
	padding-bottom: 100%;
	display: block;
}

@media (max-width: 990px) {
	.lp-results, .lp-results+.lp-aside {
		width: 100%;
		margin-top: 15px;
		margin-bottom: 15px;
		padding: 0;
	}
	.keydeal-heading {
		padding: 0;
		width: 100%;
	}
}


/** RATING */
.rate {
	height: 24px;
	display: flex;
	justify-content: flex-end;
	align-items: center;
	flex-direction: row-reverse;
}
.rate:not(:checked) > input {
	position:absolute;
	border: none;
	background: none;
	outline: 0;
	opacity: 0;
}
.rate:not(:checked) > label {
	width: 16px;
	margin-right: 2px;
	overflow:hidden;
	white-space:nowrap;
	cursor:pointer;
	color:#fff;
	font-size: 0px;
}
.rate:not(:checked) > label:before {
	content: "";
	width: 16px;
	min-width: 16px;
	height: 16px;
	margin-right: 3px;
	background-color: #d1d1d1;
	-webkit-mask-image: url('/images/review-star.svg');
	mask-image: url('/images/review-star.svg');
	-webkit-mask-repeat: no-repeat;
	mask-repeat: no-repeat;
	-webkit-mask-size: contain;
	mask-size: contain;
	position: relative;
	display: inline-block;
	transition: all 350ms ease;
}
.rate > input:checked ~ label::before {
	background-color: #ffbc59;
}

.rate:not(:checked):hover > label:before {
	background: #d1d1d1;
}

.rate:not(:checked) > label:hover::before,
.rate:not(:checked) > label:hover ~ label::before {
	background-color: #ffbc59;
}
.rate > input:checked + label:hover::before,
.rate > input:checked + label:hover ~ label:hover::before,
.rate > input:checked ~ label:hover::before,
.rate > input:checked ~ label:hover ~ label::before,
.rate > label:hover ~ input:checked ~ label::before {
	background-color: #ffbc59;
}

span[ itemprop="ratingCount"] {
	margin: 0 3px;
}

.star-rating {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	font-size: 16px;
	position: relative;
	padding-left: 25px;
	margin-top: 6px;
}
.star-rating span {
	font-size: 14px;
}

.js-vote-message {
	margin: 3px 0;
	color: #3ea9f5;
}

.aside-list.gird {
	display: grid;
	grid-template-columns: repeat(auto-fill,minmax(200px,1fr));
	grid-gap: 5px;
	max-height: 320px;
	overflow-y: auto;
	overflow-x: hidden;
	margin-bottom: 8px;
}

.truncate-item {
	margin: 0 0 5px 0;
	padding: 0;
	display: flex;
	justify-content: flex-start;
	align-items: flex-start;
}

.widget-title {
	font-size: calc(19px + (23 - 19) * ((100vw - 300px)/ (1920 - 300)));
	font-weight: 500;
	margin-top: 0;
	position: relative;
	padding-bottom: 15px;
	margin-bottom: 15px;
}

.truncate-link {
	margin-left: 5px;
	transition: all 250ms ease;
	text-transform: capitalize;
	overflow: hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-line-clamp: 1;
	-webkit-box-orient: vertical;
}
.zoom:hover {
	transition: transform .5s ease;
	transform: translate(-50%, -50%) scale(1.5); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}
